{% extends 'layouts/app.twig' %}

{% block content %}
    <main class="main-content-lot pb-8">
        <div class="container mx-auto">
            <h1 class="mt-8 text-center">Bouwnummer {{ post.title }}</h1>
            <h3 class="text-center">{{ post.get_house_form }}</h3>
            {% if images.ambiance.src %}
                <div class="lg:flex mt-8">
                    <figure class="hero">
                        <img class="hero-image" src="{{ images.ambiance.src }}" alt="{{ post.title }}" />
                    </figure>
                </div>
            {% endif %}
        </div>

        <div class="curved mb-8">
            <section class="container mx-auto my-8 px-4 lg:px-0">
                <div class="p-8 bordered-content">
                    <div class="content border-right">
                        <h3 class="mb-4">Specificaties</h3>

                        {% if areas.surface %}
                            <p>Oppervlakte: ca. {{ post.get_area }} m<sup>2</sup></p>
                        {% endif %}

                        {% if areas.outside %}
                            <p>Buitenruimte: {{ areas.outside }} m<sup>2</sup></p>
                        {% endif %}

                        {% if floors %}
                            <p>Ligging: {{ floors|join(' en ') }}</p>
                        {% endif %}

                        {% if price.price %}
                            <p>Prijs: &euro; {{ price.price }} {{ price.info }}</p>
                        {% else %}
                            <p>Prijs: Binnenkort bekend</p>
                        {% endif %}

                        {% if extra_content %}
                            <p>{{ extra_content }}</p>
                        {% endif %}

                        <p>
                            <span>
                                Status:
                                {% if status is same as('soon') %}
                                    Binnenkort in verkoop
                                {% elseif status is same as('active') %}
                                    In verkoop
                                {% else %}
                                    Verkocht
                                {% endif %}
                            </span>
                        </p>

                        <h3 class="mt-8">Type {{ types[0].name }}</h3>

                        <p>
                            {% if post.content %}
                                {{ post.content }}
                            {% else %}
                                {{ types[0].description }}
                            {% endif %}
                        </p>

                        <p class="lg:flex">
                            <a href="#plattegrond" class="button is-primary mr-auto">Plattegrond</a>
                            {% if images.ground_plan.src %}
                                <a href="#floorplan" class="button is-primary ">Verdiepingsplattegrond</a>
                            {% endif %}
                        </p>
                    </div>
                    <aside class="specs-container">
                        <figure>
                            <img src="{{ images.exterior.src }}" alt="{{ post.title }} vanaf de buitenkant">
                        </figure>
                    </aside>
                </div>
            </section>
        </div>

        <div class="container mx-auto" style="padding: 2rem 0;">
            <h3 class="text-center" id="plattegrond">Plattegrond</h3>
            <figure>
                <img src="{{ images.floor_plan.src }}" alt="Plattegrond voor {{ post.title }}" style="margin: auto; max-height: 650px;">
            </figure>
        </div>

        {% if images.ground_plan.src %}
            <div class="bg-gray curved" id="floorplan" style="background: #f4f4f4;">
                <section class="container mx-auto lg:flex">
                    <aside class="exterieur_afbeelding-container">
                        <figure>
                            <img src="{{ images.ground_plan.src('large') }}"  alt="" style="margin: auto; max-height: 500px;" />
                        </figure>
                    </aside>
                </section>
            </div>
        {% endif %}

    </main>

    {{ '[elementor-template id="287"]'|shortcodes }}
    <div class="text-center py-8">
        <h3>
            Verkoop en contact
        </h3>
    </div>

    {{ '[elementor-template id="290"]'|shortcodes }}
{% endblock content %}
