{% extends 'layouts/app.twig' %}

{% block content %}
    <main class="main-content-lot pb-8">
        <div class="container mx-auto lg:flex">
            <figure class="hero">
                <img class="hero-image" src="{{ images.ambiance.src }}" alt="{{ post.title }}" />
            </figure>
            <aside class="lg:flex">
                <h1 class="m-auto">
                    Bouwnummer {{ post.title }}
                </h1>
            </aside>
        </div>

        <div class="curved">
            <section class="container mx-auto my-8 px-4 lg:px-0">
                <div class="p-8">
                    <div class="content">
                        <h2 class="mb-4">Specificaties</h2>

                        {% if areas.surface %}
                            <p>Oppervlakte: {{ areas.surface }} m<sup>2</sup></p>
                        {% endif %}

                        {% if areas.outside %}
                            <p>Buitenruimte: {{ areas.outside }} m<sup>2</sup></p>
                        {% endif %}

                        {% if floors %}
                            <p>Ligging: {{ floors|join(' en ') }}</p>
                        {% endif %}

                        {% if price.price %}
                            <p>Prijs: &euro; {{ price.price }} {{ price.info }}</p>
                        {% endif %}
                        <p>
                        <span>
                            Status:
                            {% if status is same as('soon') %}
                                Binnenkort in de verkoop
                            {% elseif status is same as('active') %}
                                In verkoop
                            {% else %}
                                Verkocht
                            {% endif %}
                        </span>
                        </p>

                    </div>
                    <aside class="specs-container">
                        <figure>
                            <img src="{{ images.floor_plan.src }}" alt="Plattegrond voor {{ post.title }}">
                        </figure>

                    </aside>
                </div>
            </section>
        </div>

        <section class="container mx-auto lg:flex">
            <aside class="exterieur_afbeelding-container">
                <figure>
                    <img src="{{ images.exterior.src }}" alt="{{ post.title }} vanaf de buitenkant">
                </figure>
            </aside>
            <div class="plattegrond-container px-4 lg:px-0">
                {% if types[0].description %}
                    {{ types[0].description }}
                {% else %}
                    {{ post.content }}
                {% endif %}
            </div>
        </section>
    </main>

    {{ '[elementor-template id="287"]'|shortcodes }}
    <div class="text-center py-8">
        <h3>
            Verkoop en contact
        </h3>
    </div>

    {{ '[elementor-template id="290"]'|shortcodes }}
{% endblock content %}
